p
{
	color: blue;
}

#title
{
	font-family: arial;
	font-size: 18px;
	text-align: center;
}

body
{
	background-color: rgb(230, 249, 255);
}
#header
{
	font-family: arial;
	font-size: 30px;
	text-align: center;
}

#description
{
	font-family: arial;
	font-size: 15px;
	color: black;
	display: inline-block;
	text-align: left;
	width: 1000px;
}

#description_wrapper 
{
	text-align: center;
}

#signature
{
	font-size: 10px;
	position: relative;
	left: 800px;
	top: 450px;
}

#graph {
/*	height: 500px;
	width: 800px;*/
	display: inline-block;
	/*position: relative; */
	position: relative;
    margin-left: 0px;
    margin-right: auto;
/*    border: 2px solid black;*/

}

#heatmap_container {
	display: inline-block;
	margin-top: 0px;
	margin-left: 80px;
	margin-right: 0px;
}
#heatmap {
   	position: relative;
    width: 470px;
    height: 500px;
/*    border: 2px solid black;*/

}

.xAxis {
	height: 20px;
	width: 830px;
	position: absolute;
	left: 26%;
}

div.chart {
    display: inline-block;
    width: 10px;
    background-color: blue;
    margin-right: 2px;

}
.axis {
  font: 10px sans-serif;
}
.bar {
	fill: steelblue;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.d3-tip {
	line-height: 1;
	padding: 6px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
  }

.bar:hover {
fill: orangered ;
}


/*body {
    font: 10px sans-serif;
}*/

h2 {
    margin-top: 0;
    color: grey;
}

.content {
    fill: lightsteelblue;
}

.label {
    fill: white;
    font-size: x-large;
    font-weight: bolder;
}

.breast:hover {
    fill: rgb(255, 127, 80)
}

#body-container {
	display: inline-block;
	 float: left; 
	 margin-right: 0px;
	 /*border: 2px solid black; */
}

#legend {
	width: 500px;
	border: 2px solid black;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    float:left;
    border-radius: 10px;
    padding: 0px;
    font-size: 15px;
    font-family: arial;
}

#legend_title, #barChartTitle {
	font-family: arial;
	font-size: 18px;
	text-align: center;
	color: black;
}

.axis_label {
	font-family: arial;
	font-size: 15px;
}

.x_axis, .y_axis, .d3-tip{
	font-family: arial;
	font-size: 12px;
}
