.line_Midwest {
	fill: none;
	stroke: red;
	stroke-width: 1;
}
.symbol_Midwest {
	fill: red;
	stroke: red;
}

.line_Northeast {
	fill: none;
	stroke: blue;
	stroke-width: 1;
}
.symbol_Northeast {
	fill: blue;
	stroke: blue;
}

.line_South {
	fill: none;
	stroke: green;
	stroke-width: 1;
}
.symbol_South {
	fill: green;
	stroke: green;
}

.line_West {
	fill: none;
	stroke: purple;
	stroke-width: 1;
}
.symbol_West {
	fill: purple;
	stroke: purple;
}

.plot_title {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
}

.signature {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: blue;
}

.legend_labels {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
}

rect.bar {
    fill: rgb(51,153,255);
}