.five_line {
	fill: none;
	stroke: #FFC300;
	stroke-width: 1;
}

.six_line {
	fill: none;
	stroke: #FF5733;
	stroke-width: 1;
}

.seven_line {
	fill: none;
	stroke: #C70039;
	stroke-width: 1;
}

.eight_line {
	fill: none;
	stroke: #900C3F;
	stroke-width: 1;
}

.five_symbol {
	fill: #FFC300;
	stroke: #FFC300;
}

.six_symbol {
	fill: #FF5733;
	stroke: #FF5733;
}

.seven_symbol {
	fill: #C70039;
	stroke: #C70039;
}

.eight_symbol {
	fill: #900C3F;
	stroke: #900C3F;
}
.plot_title {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px
}

.signature {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}